@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Verilerini indir";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>

<section class="ab-info-main py-md-5">
    <div class="container py-md-3">
        <h4>@ViewData["Title"]</h4>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var editor = new Jodit('#Content');
    </script>
}