@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Şifre oluştur";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>

<section class="ab-info-main py-md-5">
    <div class="container py-md-3">
        <h4>Şifrenizi oluşturun</h4>
        <partial name="_StatusMessage" for="StatusMessage" />
        <p class="text-info">
            Bu site için lokal kullanıcı adı/şifreniz yok.
            Dış giriş dışında giriş yapmak için lokal hesap ekleyin.
        </p>
        <div class="row">
            <div class="col-md-6">
                <form id="set-password-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.NewPassword">Yeni Şifre</label>
                        <input asp-for="Input.NewPassword" class="form-control" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword">Şifreyi doğrula</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Şifreyi oluştur</button>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var editor = new Jodit('#Content');
    </script>
}