@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "E-Posta Onayı";
}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>

<section class="ab-info-main py-md-5">
    <div class="container py-md-3">
        <h1>@ViewData["Title"]</h1>
        <div>
            <p>
                Mail adresinizi onayladığınız için teşekkür ederiz.
            </p>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var editor = new Jodit('#Content');
    </script>
}
