@model IEnumerable<denizdikbiyik_CET322_HW5.Models.Department>

@{
    ViewData["Title"] = "Departmanlar";
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>

<section class="ab-info-main py-md-5">
    <div class="container py-md-3">

        <h1>Departman Listesi</h1>
        <br />
        <p>
            <a asp-action="Create">Yeni Oluştur</a>
        </p>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <label class="control-label">Departman Adı</label>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var editor = new Jodit('#Content');
    </script>
}

